.env*
!.env.sample
.venv/
.DS_Store
__pycache__/
.DS_Store
.idea/
*.tiff
*.tif
*.pyc
log.txt
*.log
.tile_cache/
.splat_tiles/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Geoserver
geoserver.d/data

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite
